attrs==19.3.0
aws-cdk.assets==1.41.0
aws-cdk.aws-apigateway==1.41.0
aws-cdk.aws-applicationautoscaling==1.41.0
aws-cdk.aws-autoscaling==1.41.0
aws-cdk.aws-autoscaling-common==1.41.0
aws-cdk.aws-certificatemanager==1.41.0
aws-cdk.aws-cloudformation==1.41.0
aws-cdk.aws-cloudwatch==1.41.0
aws-cdk.aws-cloudwatch-actions==1.41.0
aws-cdk.aws-dynamodb==1.41.0
aws-cdk.aws-ec2==1.41.0
aws-cdk.aws-elasticloadbalancing==1.41.0
aws-cdk.aws-elasticloadbalancingv2==1.41.0
aws-cdk.aws-events==1.41.0
aws-cdk.aws-iam==1.41.0
aws-cdk.aws-kinesis==1.41.0
aws-cdk.aws-kms==1.41.0
aws-cdk.aws-lambda==1.41.0
aws-cdk.aws-lambda-event-sources==1.41.0
aws-cdk.aws-logs==1.41.0
aws-cdk.aws-route53==1.41.0
aws-cdk.aws-s3==1.41.0
aws-cdk.aws-s3-assets==1.41.0
aws-cdk.aws-s3-notifications==1.41.0
aws-cdk.aws-sns==1.41.0
aws-cdk.aws-sns-subscriptions==1.41.0
aws-cdk.aws-sqs==1.41.0
aws-cdk.aws-ssm==1.41.0
aws-cdk.cdk-assets-schema==1.41.0
aws-cdk.cloud-assembly-schema==1.41.0
aws-cdk.core==1.41.0
aws-cdk.custom-resources==1.41.0
aws-cdk.cx-api==1.41.0
aws-cdk.region-info==1.41.0
boto3==1.13.15
botocore==1.16.15
cattrs==1.0.0
constructs==3.0.3
docutils==0.15.2
jmespath==0.10.0
jsii==1.5.0
publication==0.0.3
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
typing-extensions==3.7.4.2
urllib3==1.25.9
